@page
@model ContactModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Request.Method == "POST")
    {
        string login = Request.Form["login"];
        string password = Request.Form["password"];
        string name = Request.Form["name"];
        string address = Request.Form["address"];
        string age = Request.Form["age"];
        UserControler uc = new UserControler();
        string resultEdit = uc.EditUser(login, password, name, address, age);
        <h2>New info about : @login</h2>
        <h2>@resultEdit</h2>
    }
}
<div class="profile">
    <h1>EDIT INFO ABOUT USER</h1>
    <h2>EMAIL IS A KEY THEN YOU CAN`T CHANGE THIS FIELD</h2>
</div>
<form method="post" action="">
    <div>
        <label for="login">Login (email)</label>
        <input type="email" name="login" required>
    </div>
    <div>
        <label for="password">NEW Password</label>
        <input type="password" class="pass" name="password">
    </div>
    <div>
        <label for="name">NEW Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="address">NEW Address</label>
        <input type="text" name="address">
    </div>
    <div>
        <label for="age">NEW Age</label>
        <input type="text" name="age">
    </div>
    <button type="submit">OK</button>
</form>