@page
@model ContactModel
@using Microsoft.AspNetCore.Http

@{
    if (HttpContext.Request.Method == "POST")
    {
        string login = Request.Form["login"];
        string password = Request.Form["password"];
        string repassword = Request.Form["repassword"];
        string name = Request.Form["name"];
        string address = Request.Form["address"];
        string age = Request.Form["age"];
        string sex = Request.Form["sex"];
        UserControler uc = new UserControler();
        string result = uc.AddUser(login, password, repassword, name, address, age, sex);
        <h2>@result</h2>
    }
}
<div class="profile">
    <h1>REGISTRATION FORM</h1>
    <h3>Use this form to registration in DATABASE</h3>
</div>
<form method="post" action="">
    <div>
        <label for="login">Login (email)</label>
        <input type="email" name="login" autofocus required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" class ="pass" name="password" autofocus required>
    </div>
    <div>
        <label for="repassword">RePassword</label>
        <input type="password" name="repassword" autofocus required>
    </div>
        
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" autofocus required>
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" name="address" autofocus required>
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" name="age" autofocus required>
    </div>
    <div class="radio">
        <p><b>Gender</b></p>
        <label>
            <input type="radio" name="sex" value="male">Man
            <div class="radio-control male"></div>
        </label>
        <label>
            <input type="radio" name="sex" value="female">Woman
            <div class="radio-control female"></div>
        </label>
    </div>
    <button type="submit">OK</button>
</form>